<form #myForm="ngForm" (ngSubmit)="addTodo()">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-form-field fxFlex="4 1 auto">
      <input matInput [(ngModel)]="newTodo.todo" placeholder="할일"
             id="input_todo" required #name name="todo">
      <mat-hint align="start" style="color: red;">{{!name.value? '할일을 입력하세요' : ''}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" fxFlex="1 1 auto" class="active"
            type="submit" [disabled]="!myForm.form.valid">추가</button>
  </div>
</form>

<div class="table mt-2">
  <div class="tr">
    <div class="th" style="flex-grow: 0.5;">완료</div>
    <div class="th" style="flex-grow: 2;">todo</div>
    <div class="th">생성일</div>
    <div class="th">수정일</div>
    <div class="th">수정및삭제</div>
  </div>
  <ng-template ngFor let-item [ngForOf]="todoList" let-idx="index">
    <div class="tr" [@flyInOut] = "'in'" *ngIf="!item.isEdited" appHighlight [HighlightColor]="'#a1bba6'">
      <div class="td" style="flex-grow: 0.5;">{{item.isFinished ? '완료' : '미완료'}}</div>
      <div class="td" style="flex-grow: 2;">{{item.todo}}</div>
      <div class="td">{{item.created | mydate: 'abcdefg'}}</div>
      <div class="td">{{item.updated | date: 'yyyy-MM-dd aa HH:mm'}}</div>
      <div class="td">
        <button mat-raised-button color="accent" (click)="save(item)">수정</button>
        <button mat-raised-button color="warn" (click)="removeTodo(item, idx)">삭제</button>
      </div>
    </div>
    <div class="tr" *ngIf="item.isEdited">
      <div class="td">
        <mat-checkbox [(ngModel)]="item.isFinished"></mat-checkbox>
      </div>
      <div class="td">
        <input [(ngModel)]="item.todo">
      </div>
      <div class="td">{{item.created}}</div>
      <div class="td">{{item.updated}}</div>
      <div class="td">
        <button mat-raised-button color="accent" (click)="modifyTodo(item)">저장</button>
        <button mat-raised-button color="warn" (click)="restore(item)">취소</button>
      </div>
    </div>
  </ng-template>
</div>

{{ '111111111' | number}}
