<form #myForm="ngForm" (ngSubmit)="addTodo()">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-form-field fxFlex="4 1 auto">
      <input matInput [(ngModel)]="newTodo.todo" placeholder="할일" id="input_todo" required #name name="todo">
      <mat-hint align="start" style="color: red;">{{!name.value? '할일을 입력하세요' : ''}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" fxFlex="1 1 auto" class="active" type="submit" [disabled]="!myForm.form.valid">추가</button>
  </div>
</form>

<div class="table mt-2">
  <div class="tr">
    <div class="th">완료</div>
    <div class="th">todo</div>
    <div class="th">생성일</div>
    <div class="th">수정일</div>
    <div class="th">수정및삭제</div>
  </div>
  <div class="tr" *ngFor="let item of todoList">
    <div class="td">{{item.isFinished ? '완료' : '미완료'}}</div>
    <div class="td">{{item.todo}}</div>
    <div class="td">{{item.created}}</div>
    <div class="td">{{item.updated}}</div>
    <div class="td">
      <button mat-raised-button color="warn">삭제</button>
    </div>
  </div>
</div>
